<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <form method="POST" action="/user/create-user">
        <div class="user-info-container container ">
            <h1 class="text-center">Use page</h1>
            <div class="row">
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control bg-white border border-2 ps-2 rounded-3" id="email"
                            name="emailName" value="" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="useName" class="col-sm-2 col-form-label">Use Name</label>
                    <div class="col-sm-4">
                        <input type="useName" class="form-control" id="useName" name="useName" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="passWord" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-4">
                        <input type="passwWrd" class="form-control" id="passWord" name="passWordName" requied>
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary d-grid gap-2 col-6 mx-auto " type="submit">Button</button>
                </div>

            </div>

        </div>
    </form>

    <div class="container mt-5">
        <div>
            <h1>Table User</h1>
        </div>

        <table class="table table-hover">
            <thead class="border">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Email</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="border">
                <% listUser.forEach(function(item,index){ %>
                    <tr>
                        <th scope="row">
                            <%= index+1 %>
                        </th>
                        <td>
                            <%= item.email %>
                        </td>
                        <td>
                            <%= item.username %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary">Primary</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>